section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    padding: 100px;
}

h2 {
    margin-bottom: 100px;
    padding: 20px;
    border-bottom: #ed1222 2px solid;
}

div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
}


figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.124);
    width: 25%;
}

figure:hover {
    transform: scale(1.1);
}

p {
    font-size: 20px;
}

img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    padding: 40px;
}

button {
    border: solid 1px black;
    border-radius: 1px;
    background-color: #490001;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 15px;
}