section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  padding: 100px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.fila {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 1em;
}

.fila-center {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 0.25em;
}

.btn-enviar {
  border: solid white 0.25em;
  border-radius: 2px;
  background-color: #490001;
  padding: 1em;
  color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  cursor: pointer;
}

img {
  display: block;
  margin: auto;
}